@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  section
    width: 100vw

  .hero

    width: 100vw
    nav
      width: 90%

    &__wrapper
      max-width: 970px

    &__sale
      padding-left: 220px

    &__bird
      display: none

  .tariffs
    max-height: 970px

  .tariffs__wrapper
    max-width: 970px
    h2
      text-align: center

  .about-us
    .about-container
      max-width: 970px
      margin-right: 0
    &__left-side
      &__flow1, &__flow2 ,&__flow3
        margin-top: 10px

      h3
        font-size: 76px

      p
        font-size: 24px

    &__right-side
      p
        font-size: 20px

      ul
        li
          font-size: 17px

  .directions
    &__container
      max-width: 970px
      background-position: 20px 74px
      background-size: contain

      &__advantages
        margin-top: 0
        margin-left: 0

        &__wrapper
          width: 410px

  .income
    &__container
      max-width: 970px
      margin-right: 0

      &__wrapper
        &__right-side
          margin-left: 90px
          &__amount
            font-size: 100px

  .our-farm
    &__container
      max-width: 970px


  .our-team
    height: 900px

    &__gradient-line
      width: 100vw

    &__container
      max-width: 970px
      img
        height: 230px

    &__text-wrapper
      max-width: 970px
      margin: auto

      h3
        font-size: 27px
        text-align: center
        margin-left: 0
        padding: 0
        margin-top: 15px

      h4
        font-size: 22px
        text-align: center
        padding: 0
        margin-left: 0

      p
        font-size: 17px
        text-align: justify

      &__one
        width: 420px

      &__two
        width: 500px

      &__three
        width: 420px

  .footer
    width: 100vw

    &__container
      max-width: 970px

      &__bird
        display: none

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)


 //≥576px
+media-breakpoint-down(xs)
  section
   width: 100vw

  .hero
    width: 100vw
    padding-top: 0
    height: 100vh

    &__phone
      span
        font-size: 14px

    nav
      width: 90%

      img
        margin: 0
        height: 60px
        display: none

    &__wrapper
      max-width: 90%
      padding-left: 0
      margin-top: 150px
      display: flex
      flex-direction: column

      h1
        font-size: 24px
        line-height: 29px
        text-align: center

      button
        width: 180px
        height: 90px
        margin: 30px auto


    &__sale
      font-size: 120px
      padding: 0
      line-height: 150px
      margin-top: 120px

    &__bird
      display: none


  .tariffs
    max-height: 1600px
  .tariffs__wrapper
    max-width: 100vw
    h2
      text-align: center

    &__pricing
      flex-wrap: wrap

      &__card
        width: 320px

        button
          margin-top: 40px

      .card1
        margin-right: 0

      .card2
        margin-left: 0
        margin-top: 120px


  .about-us
    .about-container
      max-width: 100vw
      margin-right: 0
      flex-wrap: wrap

      h2
        text-align: center

    &__right-side
      height: 1000px
      display: flex
      flex-direction: column
      align-items: center



    &__left-side
      height: 600px
      &__flow1, &__flow2 ,&__flow3
        margin-top: 10px

      h3
        font-size: 76px

      p
        font-size: 24px

    &__right-side
      p
        font-size: 20px

      ul
        li
          font-size: 17px

  .directions
    &__container
      max-width: 100vw
      background-image: none

      &__advantages
        margin-top: 0
        margin-left: 0
        flex-wrap: wrap

        &__wrapper
          width: 410px

  .income
    &__container
      max-width: 970px
      margin-right: 0

      &__wrapper
        &__right-side
          margin-left: 90px
          &__amount
            font-size: 100px

  .our-farm
    &__container
      max-width: 970px


  .our-team
    height: 900px

    &__gradient-line
      min-width: 1200px
      width: 100%
    &__container
      max-width: 970px
      img
        height: 230px

    &__text-wrapper
      max-width: 970px
      margin: auto

      h3
        font-size: 27px
        text-align: center
        margin-left: 0
        padding: 0
        margin-top: 15px

      h4
        font-size: 22px
        text-align: center
        padding: 0
        margin-left: 0

      p
        font-size: 17px
        text-align: justify

      &__one
        width: 420px

      &__two
        width: 500px

      &__three
        width: 420px

  .footer
    min-width: 1200px

    &__container
      max-width: 970px

      &__bird
        display: none

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
