@import "vars"
@import "fonts"
@import "libs"

.text-center
  text-align: center

b, strong
  font-weight: bold

body
  overflow-x: hidden

*
  padding: 0
  margin: 0
  box-sizing: border-box

.gradient-text
  background: linear-gradient(90deg, #81DB00 0%, #00A3FB)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  display: table
  color: #0B2349
  margin: 20px auto

.hero
  width: 1920px
  height: 1080px
  background-color: #141830
  padding-top: 58px
  position: relative

  nav
    width: 1440px
    margin: 0 auto
    height: 120px
    display: flex
    justify-content: space-between
    align-items: center

    img
      margin-top: 4px
      margin-left: 225px

    .burger-container
      width: 48px
      height: 35px
      cursor: pointer

    .burger
      position: relative
      width: 100%
      height: 100%

    .burger::after , .burger::before
      content: ""
      position: absolute
      width: 100%

    .burger::after
      bottom: 7px

    .burger::before
      bottom: 18px

    .burger1
      color: white
      border-bottom: 5px solid currentcolor
      transition: border-bottom 1s

    .burger1::after
      border-bottom: 5px solid currentcolor
      transition: transform 1s

    .burger1::before
      border-bottom: 5px solid currentcolor
      transition: transform 1s

    .burger1-open
      border-bottom: 4px solid transparent

    .burger1-open::after
      transform: rotate(45deg) translate(-7px, -9px)

    .burger1-open::before
      transform: rotate(-45deg)

    @keyframes MiddleOpen
      50%
        bottom: 0
        transform: none

      100%
        transform: rotate(45deg)


  &__phone
    color: white
    span
      font-family: 'Proxima Nova Rg'
      font-weight: bold
      font-style: normal
      font-size: 36px

  &__sale
    font-family: 'Proxima Nova Bl'
    font-weight: 900
    font-style: normal
    font-size: 360px
    line-height: 500px
    text-align: center
    padding-right: 461px

  h1
    color: white
    font-family: 'Proxima Nova Lt'
    font-weight: 300
    font-style: normal
    font-size: 54px
    padding-left: 360px
    margin-top: -106px
    line-height: 63px



  &__bird
    position: absolute
    top: 300px
    right: 240px

  button
    width: 360px
    height: 120px
    border: solid 3px white
    background-color: transparent
    font-family: 'Proxima Nova Rg'
    font-weight: bold
    font-style: normal
    border-radius: 60px
    color: white
    font-size: 27px
    text-transform: uppercase
    margin-left: 360px
    margin-top: 40px

    &:hover
      background-color: #00A3FB
      border: solid 3px #00A3FB
      cursor: pointer
      transition: 0.5s

.tariffs
  width: 1920px
  height: 1080px

  h2
    font-family: 'Proxima Nova Rg'
    font-weight: bold
    font-style: normal
    font-size: 36px
    text-transform: uppercase
    color: #141830
    padding-top: 1px
    text-align: left


  &__wrapper
    width: 1440px
    height: 810px
    margin: 110px auto
    text-align: center
    &__pricing
      width: 100%
      display: flex
      justify-content: center
      padding-top: 56px

      &__card
        width: 450px
        height: 720px
        border: solid 6px #e8f4fc
        border-radius: 6px
        padding-top: 33px

        &:hover
          background-color: #0A112D
          color: white
          border-color: #0A112D
          box-shadow: 0px 36px 96px 0px rgba(92, 98, 134, 0.64)
          transition: .5s
          h3
            color: white

          h4
            color: white

        h3
          font-family: 'Proxima Nova Lt'
          font-weight: 300
          font-style: normal
          font-size: 54px
          color: #141830
          text-align: center
          line-height: 79px


        &.card1
          margin-right: 30px
        &.card2
          margin-left: 30px

        &__gradient
          font-size: 108px
          line-height: 116px
          font-family: 'Proxima Nova Lt'
          font-weight: 300
          font-style: normal
          text-align: center
          background: linear-gradient(45deg, #81DB00 0%, #00A3FB)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
          margin-top: 10px

        &__text-line1
          font-family: 'Roboto Lt'
          font-size: 27px
          line-height: 19px

        h4
          font-family: RobotoBold
          font-size: 36px
          color: #141830
          text-align: center
          margin-top: 25px


        &__list-wrp
          width: 330px
          height: 135px
          display: flex
          justify-content: center
          margin: 31px auto 0
          font-family: 'Roboto Lt'
          font-size: 27px

          &__left-side
            width: 150px
            height: 135px
            margin-right: 15px
            text-align: right
            padding-right: 14px

            p
              &:nth-child(2)
                margin-top: 13px

              &:nth-child(3)
                margin-top: 12px


          &__right-side
            width: 150px
            height: 135px
            margin-left: 15px
            text-align: left
            padding-left: 14px

            p
              &:nth-child(2)
                margin-top: 13px

              &:nth-child(3)
                margin-top: 12px


      button
        text-transform: uppercase
        width: 300px
        height: 120px
        color: white
        background: linear-gradient(90deg, #81DB00 0%, #00A3FB)
        border: none
        border-radius: 60px
        font-family: 'Proxima Nova Rg'
        font-weight: bold
        font-style: normal
        font-size: 27px
        margin: 22px auto 0
        padding-bottom: 6px
        cursor: pointer

        &:hover
          background: #0A112D
          border: solid 3px #24244e
          transition: 0.0s

.about-us
  width: 1440px
  height: 1080px
  margin: 0 auto
  display: flex
  justify-content: space-between

  &__left-side
    width: 690px
    height: 750px
    border: solid 1px red
    padding-left: 8px

    h2
      font-family: 'Proxima Nova Rg'
      font-weight: bold
      font-style: normal
      font-size: 36px
      color: #0A112D
      text-transform: uppercase



    &__flow
      h3
        font-family: 'Proxima Nova Lt'
        font-weight: 300
        font-style: normal
        font-size: 108px
        color: #00a2f8

      &:first-child
        margin-top: 58px

      &:last-child
        margin-top: 71px

      p
        font-family: 'Roboto Lt'
        font-size: 36px
        margin-top: -5px
        letter-spacing: -0.2px


  &__right-side
    width: 690px
    height: 750px
    border: solid 1px red



