@import "vars"
@import "fonts"
@import "libs"
@import "media"

.text-center
  text-align: center

b, strong
  font-weight: bold

*
  padding: 0
  margin: 0
  box-sizing: border-box

section, footer
  width: 100vw
  margin: auto


@media (min-width: 1919px)
  body
    overflow-x: hidden

.gradient-text
  //background: linear-gradient(90deg, #81DB00 0%, #00A3FB)
  //-webkit-background-clip: text
  //-webkit-text-fill-color: transparent

  color: #81DB00
  margin: 20px auto


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
  .gradient-text
    background: transparent
    color: #81DB00

  .tariffs__wrapper__pricing__card__gradient
    background: transparent!important
    color: #0a112d

  .tariffs__wrapper__pricing__card
    &__gradient
      &:hover
        color: #81DB00

  .about-us__left-side__flow3
    h3
      background: transparent!important
      color: #81DB00

  input[type=range]::-ms-track
    visibility: hidden!important

  .track-container
    width: 0
    height: 0

.hero
  width: 100vw
  min-height: 100vh
  margin: 0 auto
  background-color: #141830
  padding-top: 58px


  &__wrapper
    width: 1440px
    padding-left: 120px
    margin: 0 auto
    position: relative

  nav
    width: 1440px
    margin: 0 auto
    height: 120px
    display: flex
    justify-content: space-between
    align-items: center

    img
      margin-top: 4px
      margin-left: 225px

    .burger-container
      width: 48px
      height: 35px
      cursor: pointer

    .burger
      position: relative
      width: 100%
      height: 100%

    .burger::after , .burger::before
      content: ""
      position: absolute
      width: 100%

    .burger::after
      bottom: 7px

    .burger::before
      bottom: 18px

    .burger1
      color: white
      border-bottom: 5px solid currentcolor
      transition: border-bottom 1s

    .burger1::after
      border-bottom: 5px solid currentcolor
      transition: transform 1s

    .burger1::before
      border-bottom: 5px solid currentcolor
      transition: transform 1s

    .burger1-open
      border-bottom: 4px solid transparent

    .burger1-open::after
      transform: rotate(45deg) translate(-7px, -9px)

    .burger1-open::before
      transform: rotate(-45deg)

    @keyframes MiddleOpen
      50%
        bottom: 0
        transform: none

      100%
        transform: rotate(45deg)


  &__phone
    color: white
    span
      font-family: 'Proxima Nova Rg'
      font-weight: bold
      font-style: normal
      font-size: 36px

  &__sale
    font-family: 'Proxima Nova Bl'
    font-weight: 900
    font-style: normal
    font-size: 360px
    line-height: 500px
    text-align: center
    padding-right: 461px

  h1
    color: white
    font-family: 'Proxima Nova Lt'
    font-weight: 300
    font-style: normal
    font-size: 54px
    margin-top: -106px
    line-height: 63px



  &__bird
    position: absolute
    top: -313px
    right: 0

  button
    width: 360px
    height: 120px
    border: solid 3px white
    background-color: transparent
    font-family: 'Proxima Nova Rg'
    font-weight: bold
    font-style: normal
    border-radius: 60px
    color: white
    font-size: 27px
    text-transform: uppercase
    margin-top: 40px

    &:hover
      background-color: #00A3FB
      border: solid 3px #00A3FB
      cursor: pointer
      transition: 0.5s

.tariffs

  h2
    font-family: 'Proxima Nova Rg'
    font-weight: bold
    font-style: normal
    font-size: 36px
    text-transform: uppercase
    color: #141830
    padding-top: 1px
    text-align: left


  &__wrapper
    width: 1440px
    margin: 110px auto
    text-align: center
    &__pricing
      width: 100%
      display: flex
      justify-content: center
      padding-top: 56px

      &__card
        width: 450px
        height: 720px
        border: solid 6px #e8f4fc
        border-radius: 6px
        padding-top: 33px

        &:hover
          background-color: #0A112D
          color: white
          border-color: #0A112D
          box-shadow: 0px 36px 96px 0px rgba(92, 98, 134, 0.64)
          transition: .5s
          h3
            color: white

          h4
            color: white

        h3
          font-family: 'Proxima Nova Lt'
          font-weight: 300
          font-style: normal
          font-size: 54px
          color: #141830
          text-align: center
          line-height: 79px


        &.card1
          margin-right: 30px
        &.card2
          margin-left: 30px

        &__gradient
          font-size: 108px
          line-height: 116px
          font-family: 'Proxima Nova Lt'
          font-weight: 300
          font-style: normal
          text-align: center
          background: linear-gradient(45deg, #81DB00 0%, #00A3FB)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
          margin-top: 10px


        &__text-line1
          font-family: 'RobotoLight'
          font-size: 27px
          line-height: 19px

        h4
          font-family: RobotoBold
          font-size: 36px
          color: #141830
          text-align: center
          margin-top: 25px


        &__list-wrp
          width: 330px
          height: 135px
          display: flex
          justify-content: center
          margin: 31px auto 0
          font-family: 'RobotoLight'
          font-size: 27px

          &__left-side
            width: 150px
            height: 135px
            margin-right: 15px
            text-align: right
            padding-right: 14px

            p
              &:nth-child(2)
                margin-top: 13px

              &:nth-child(3)
                margin-top: 12px


          &__right-side
            width: 150px
            height: 135px
            margin-left: 15px
            text-align: left
            padding-left: 14px

            p
              &:nth-child(2)
                margin-top: 13px

              &:nth-child(3)
                margin-top: 12px


      button
        text-transform: uppercase
        width: 300px
        height: 120px
        color: white
        background: linear-gradient(90deg, #81DB00 0%, #00A3FB)
        border: none
        border-radius: 60px
        font-family: 'Proxima Nova Rg'
        font-weight: bold
        font-style: normal
        font-size: 27px
        margin: 22px auto 0
        padding-bottom: 6px
        cursor: pointer

        &:hover
          background: #0A112D
          border: solid 3px #24244e
          transition: 0.0s

.about-us

  margin: 0 auto
  display: flex
  justify-content: center

  .about-container
    width: 1440px
    display: flex
    justify-content: space-between
    margin-right: 16px

  &__left-side
    width: 100%
    height: 750px
    padding-left: 8px

    h2
      font-family: 'Proxima Nova Rg'
      font-weight: bold
      font-style: normal
      font-size: 36px
      color: #0A112D
      text-transform: uppercase



    &__flow1, &__flow2
      h3
        font-family: 'Proxima Nova Lt'
        font-weight: 300
        font-style: normal
        font-size: 108px
        color: #00a2f8

      p
        font-family: 'RobotoLight'
        font-size: 36px
        margin-top: -5px

    &__flow1
      margin-top: 56px
    &__flow2
      margin-top: 72px

    &__flow3
      margin-top: 72px
      h3
        font-family: 'Proxima Nova Bl'
        font-weight: 900
        font-style: normal
        font-size: 108px
        background: linear-gradient(90deg, #81DB00 0%, #00A3FB)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

      p
        font-family: 'robotoBold'
        font-size: 36px
        color: #141830
        margin-top: -10px

  &__right-side
    width: 100%
    height: 750px

    p
      font-family: 'RobotoLight'
      font-size: 27px
      color: #141830
      padding-left: 7px
      line-height: 44px

    ul
      padding-top: 35px
      padding-left: 6px

      li
        list-style-type: none
        font-family: 'robotoRegular'
        font-size: 24px
        color: #141830

        &:nth-child(n+2)
          margin-top: 31px
          a
            color: #00a2f8

  button
    width: 300px
    height: 120px
    border: solid 3px #00A3FB
    background-color: #00A3FB
    font-family: 'Proxima Nova Rg'
    font-weight: bold
    font-style: normal
    border-radius: 60px
    color: white
    font-size: 27px
    text-transform: uppercase
    margin-left: 7px
    margin-top: 48px
    padding-bottom: 5px

    &:hover
      background-color: #87DD00
      border: solid 3px #87DD00
      cursor: pointer
      transition: 0.5s

.directions
  height: 1080px
  margin: 250px auto 0
  background: #0A112D
  display: flex
  justify-content: center
  padding-top: 110px
  &__container
    width: 1440px
    height: 1080px
    background: url("../img/digitsBg.png") no-repeat 176px 106px

    h2
      font-family: 'Proxima Nova Rg'
      font-weight: bold
      font-style: normal
      font-size: 36px
      color: white
      text-transform: uppercase
      padding-left: 1px

    &__advantages
      width: 1009px
      height: 670px
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin-left: 176px
      margin-top: 49px

      &__wrapper
        width: 392px
        height: 330px
        padding-top: 38px
        padding-left: 2px

        &:first-child
          margin-bottom: 30px

        &:nth-child(2n)
          margin-right: 33px
          padding-left: 3px

        &:nth-child(n)
          margin-left: 16px

        h3
          font-family: 'Proxima Nova Rg'
          font-weight: bold
          font-style: normal
          color: white
          text-transform: uppercase
          font-size: 36px
          margin-top: 26px

        p
          font-family: 'robotoRegular'
          font-size: 22.5px
          color: white
          margin-top: 34px
          line-height: 31.5px

.income
  height: 1080px
  display: flex
  justify-content: center
  background: url("../img/graphBg.png") no-repeat right 60px bottom 60px

  &__container
    width: 1200px
    height: 1080px
    padding-top: 111px
    margin-right: 240px

    button
      width: 480px
      height: 120px
      border: solid 3px #00A3FB
      background-color: #00A3FB
      font-family: 'Proxima Nova Rg'
      font-weight: bold
      font-style: normal
      border-radius: 60px
      color: white
      font-size: 27px
      text-transform: uppercase
      margin-top: 60px
      padding-bottom: 5px
      box-shadow: 0px 24px 48px 0px rgba(0, 162, 248, 0.32)
      &:hover
        background-color: #87DD00
        border: solid 3px #87DD00
        cursor: pointer
        transition: 0.5s

    h2
      font-family: 'Proxima Nova Rg'
      font-weight: bold
      font-style: normal
      font-size: 36px
      color: #0A112D
      text-transform: uppercase


    &__wrapper
      display: flex
      margin-top: 64px



      &__left-side
        width: 570px



        p
          font-family: 'robotoRegular'
          font-size: 13.5px

        .under-range-text
          margin-top: 8px

        .days-count
          margin-top: 29px


        .counter
          margin-top: 33px
          padding: 0 16px
          display: flex
          justify-content: space-between

          p
            font-family: RobotoLight
            font-size: 27px

            &:nth-child(2)
              font-family: 'RobotoBold'
              margin-left: 180px
              font-weight: bold


        h3
          font-family: 'RobotoLight'
          font-size: 36px
          font-weight: normal

        &__button-wrapper
          display: flex

          button
            text-transform: uppercase
            width: 180px
            height: 90px
            color: #0A112D
            border: solid 3px #00A3FB
            background-color: transparent
            border-radius: 60px
            font-family: 'Proxima Nova Rg'
            font-weight: bold
            font-style: normal
            font-size: 27px
            margin: 24px 0
            padding-bottom: 4px
            cursor: pointer


            &:hover
              background: linear-gradient(90deg, #81DB00 0%, #00A3FB)
              border: none
              transition: 0.5s
              color: white

          .light-btn

          .premium-btn
            width: 242px
            height: 90px
            margin-left: 14px

        input[type=range]
          margin-top: 16px
          outline: none
          padding: 0
          width: 540px
          height: 30px
          background-size: 50% 100%
          background: #E4F4FC linear-gradient(90deg, #81DB00, #00A3FB) no-repeat
          border-radius: 30px
          cursor: pointer
          -webkit-appearance: none
          /* track */
          /* thumb */

        input[type=range]::-webkit-slider-runnable-track
          box-shadow: none
          border: none
          background: transparent
          -webkit-appearance: none

        input[type=range]::-moz-range-track
          box-shadow: none
          border: none
          background: transparent

        input[type=range]::-moz-focus-outer
          border: 0

        input[type=range]::-webkit-slider-thumb
          width: 0
          height: 0
          border: 0
          background: white
          border-radius: 100%
          box-shadow: 0 1px 2px 0px #000
          -webkit-appearance: none

        input[type=range]::-moz-range-thumb
          width: 16px
          height: 16px
          border: 0
          background: white
          border-radius: 100%
          box-shadow: 0 1px 2px 0px #000



      &__right-side
        width: 510px
        margin-left: 210px

        h3
          font-family: 'RobotoLight'
          font-size: 36px
          font-weight: normal



        .sum-wrp
          display: flex
          align-items: center

          p
            font-family: 'Proxima Nova Lt'
            font-weight: normal
            font-style: normal
            font-size: 27px
            margin-top: 21px
            margin-left: 18px

        &__sum
          width: 240px
          height: 90px
          border: solid 3px #E4F4FC
          background-color: transparent
          border-radius: 50px
          font-family: 'Proxima Nova Rg'
          font-weight: bold
          font-style: normal
          color: #0a112d
          font-size: 27px
          margin-top: 24px
          padding: 0 60px 2px
          letter-spacing: 1px


        &__amount
          font-family: 'Proxima Nova Bl'
          font-weight: 900
          font-style: normal
          font-size: 108px
          color: #00A3FB
          line-height: 155px

        &__text
          margin-top: 53px

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button
          -webkit-appearance: none
          margin: 0

.our-farm
  height: 1080px
  display: flex
  justify-content: center
  background: url("../img/ourFarmBg.png") no-repeat center
  background-size: cover

  &__container
    width: 1440px
    height: 1080px
    padding-top: 110px

    h2
      font-family: 'Proxima Nova Rg'
      font-weight: bold
      font-style: normal
      font-size: 36px
      color: white
      text-transform: uppercase

    &__center
      width: 100%
      display: flex
      align-items: center
      flex-direction: column
      margin-top: 236px

      img
        cursor: pointer

      p
        color: white
        font-family: 'Proxima Nova Lt'
        font-weight: 300
        font-style: normal
        font-size: 54px
        margin-top: 71px

.our-team
  margin: 0 auto
  height: 1020px
  padding-top: 111px
  position: relative
  h2
    font-family: 'Proxima Nova Rg'
    font-weight: bold
    font-style: normal
    font-size: 36px
    color: #0a112d
    text-transform: uppercase

  &__container
    width: 1460px
    padding-left: 11px
    margin: 0 auto


    &__photo-wrapper
      margin-top: 56px
      display: flex
      height: 725px
      justify-content: center


      h3
        font-family: 'RobotoBold'
        font-weight: bold
        font-size: 36px
        padding-left: 30px
        color: #0a112d
        margin-top: 31px

      h4
        font-family: 'RobotoLight'
        font-weight: normal
        font-size: 27px
        padding-left: 30px
        color: #0a112d
        margin-top: 17px

      p
        font-family: 'robotoRegular'
        font-weight: normal
        font-size: 24px
        padding-left: 30px
        color: #5c6286
        margin-top: 43px
        line-height: 31.5px
        display: none


      &__one
        width: 450px
        display: flex
        flex-direction: column
        align-items: center

      &__two
        width: 450px
        display: flex
        flex-direction: column
        align-items: center

      &__three
        width: 450px
        display: flex
        flex-direction: column
        align-items: center


  .text-active
    background-color: #0A112D
    box-shadow: 0px 36px 96px 0px rgba(92, 98, 134, 0.64)

    h3,h4
      color: white

    p
      display: block

      img
        &:nth-child(2)
          margin-left: 40px

        &:nth-child(3)
          margin-left: 40px

  &__gradient-line
    min-width: 100vw
    height: 18px
    background-image: linear-gradient(90deg, #81DB00 0%, #00A3FB)
    position: absolute
    bottom: 421px


  &__text-wrapper
    display: flex
    justify-content: center

.footer
  height: 720px
  display: flex
  align-items: center
  flex-direction: column

  &__container
    width: 1440px
    height: 600px
    padding-top: 166px
    position: relative

    h2
      font-family: 'Proxima Nova Lt'
      font-weight: 300
      font-style: normal
      font-size: 54px
      color: #141830

    &__telegram
      display: flex
      font-family: 'RobotoLight'
      margin-top: 28px

      img
        padding-right: 28px


      h3
        font-size: 36px
        color: #141830
        font-weight: normal

        a
          font-family: 'RobotoBold'
          font-weight: bold
          color: #00a2f8

    p
      font-family: 'RobotoLight'
      font-size: 27px
      margin-top: 47px

    &__payment
      display: flex
      align-items: center
      margin-top: 33px

      img
        &:nth-child(n+2)
          margin-left: 28px

        &:last-child
          margin-left: 30px


    &__bird
      position: absolute
      right: 0
      top: 0

  &__copyright
    width: 100%

    height: 120px
    background-color: #141830

    p
      text-align: center
      font-family: 'robotoRegular'
      font-size: 24px
      line-height: 31.5px
      color: #5c6286
      margin-top: 24px




@import "media"